[ui]
  color = auto
[color]
  ui = auto
[rerere]
  enabled = true
[rebase]
  autosquash = true
[push]
  default = nothing
[heroku]
  account = personal
[alias]
  l  = log --oneline --decorate --graph
  recent = !git log --no-walk --date-order --oneline --decorate $(git rev-list --branches --no-walk)
  authors = log --abbrev-commit --format="%an" --no-merges
[user]
	name = Jake Yesbeck
	email = yesbeckjs@gmail.com
[core]
	editor = vim
	excludesfile = /Users/jakeyesbeck/.gitignore
